@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@keyframes infiniteScroll {
  from { transform: translateX(0); }
  to { transform: translateX(-33.333%); }
}

.animate-infinite-scroll {
  animation: infiniteScroll 25s linear infinite;
}